@font-face {
	font-family: "Century Gothic";
	src: url("./fonts/CenturyGothic/century-gothic.woff");
}

body {
	font-family: "Century Gothic";
}

a {
	cursor: pointer;
}

.m-1 {
	margin: 1em;
}

.m-2 {
	margin: 2em;
}

.m-3 {
	margin: 3em;
}

.mt-4 {
	margin-top: 4em;
}

/* ul {
  margin: 10px;
  padding: 15px;
} */

.p-1 {
	padding: 1em;
}

.p-2 {
	padding: 2em;
}

.p-3 {
	padding: 3em;
}

.p-4 {
	padding: 4em;
}

.pt-2 {
	padding-top: 2em;
}

.pt-3 {
	padding-top: 3em;
}

.pb-2 {
	padding-bottom: 2em;
}

.pb-3 {
	padding-bottom: 3em;
}

.pl-4 {
	padding-left: 4em;
}

html.mm-blocking,
html.mm-blocking body {
	overflow: visible;
}

nav a {
	cursor: pointer;
}

section {
	padding: 0;
}

.section-separation {
	padding: 50px 0;
}

.form-cb-warp {
	max-width: 940px;
	margin: auto;
}

.header-1-put {
	position: relative;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 9;
}

.section-bg-wrapper {
	background-size: 100%;
	background-position: center;
	background-repeat: no-repeat;
	position: relative;
	min-height: 500px;
}

/* .section-bg-wrapper:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
} */

.bg-firm {
	background-image: url("/images/Banners/our_firm.png");
}

.bg-team {
	background-image: url("/images/Slider/banners/our_team.png");
}

.bg-financial {
	background-image: url("/images/Slider/banners/financial_planning.png");
	background-position: right center;
}

.bg-investment {
	background-image: url("/images/Slider/banners/investment_management.png");
	background-position: right center;
}

.bg-institutional {
	background-image: url("/images/Slider/banners/institutional_business_solution.png");
	background-position: left -60px;
}

.bg-partners {
	background-image: url("/images/Banners/360_partners.png");
	background-position: center bottom;
}

.bg-letstalk {
	background-image: url("/images/Banners/Lets_Talk.png");
	/* background-position: center top; */
	min-height: 500px;
}

.bg-commitment {
	background-image: url("/images/Banners/Our_Commitment.png");
}

.bg-mission-vision {
	background-image: url("/images/Banners/mission_vision_institutions.png");
	background-position: top;
}

.bg-value-proposition {
	background-image: url("/images/Banners/360ne-value-propositions.png");
}

.bg-risk {
	background-image: url("/images/Slider/banners/risk_management.png");
}

.bg-approach {
	background-image: url("/images/Banners/360_approach.png");
	min-height: 500px;
}

.bg-different {
	background-image: url("/images/Banners/we_different.png");
}

.main-banner-container {
	position: relative;
}

.sub-header-container {
	width: 100%;
	position: absolute;
	text-align: center;
	position: absolute;
	top: 330px;
}

.financial-img {
	max-width: 450px;
}

.App-link {
	color: #61dafb;
}

.test-border {
	position: relative;
}

.cr-1 a,
.cr-1 p {
	line-height: 0;
}

.center-block {
	margin: 0 auto;
}

.bg-image {
	background: url("/images/360-hero-pose.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center top;
	padding: 100px 0;
}

.round {
	border-radius: 50%;
}

.copyright-warp {
	position: relative;
}

.test-border__item {
	border-top: solid 35px #be202e;
	border-left: solid 80px transparent;
	width: 100%;
}

.test-border--rotate {
	transform: rotateX(180deg);
}

.test-border h1 {
	text-align: right;
	padding-right: 20px;
}

.text-block {
	max-width: 1024px;
	margin: auto;
	padding: 30px 15px;
	font-size: 14px;
}

.cta-btn {
	background: #be202e;
	padding: 15px 15px;
	text-align: center;
	color: #fff;
	max-width: 180px;
	display: block;
	font-size: 26px;
	margin: auto;
	cursor: pointer;
}

.cta-btn:hover {
	color: #fff;
}

.cta-float-align {
	position: absolute;
	bottom: 10%;
	right: 7%;
}

footer {
	background-image: url("/images/360ne_footer_banner.png");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	position: relative;
}

.overlay:before {
	content: "";
	display: block;
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.7);
}

.iconbox-link {
	transition: all 1s ease;
}

.iconbox-link:hover {
	box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
}

.link-home-icon {
	max-width: 230px;
}

.home-container-grid {
	display: grid;
	max-width: 1024px;
	margin: 0 auto;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	grid-template-rows: 250px 250px;
}

.navi-level-2 {
	margin: 0;
}

/* 
  <Tabs modifications>
*/
.nav-tabs li.active a {
	border: none;
}

.nav-tabs li.active a {
	background: #be202e;
	color: #fff;
}

.nav-tabs li:not(.active) a::after {
	content: "";
	display: block;
	background: #aaa;
	height: 3px;
	border-radius: 5px;
}

.nav-tabs li.active a:hover,
.nav-tabs li.active a:focus {
	border: none;
	background: #be202e;
	color: #fff;
}

.nav-tabs li a {
	color: #000;
	font-size: 24px;
	border: none;
}

.nav-tabs li {
	float: none;
	display: inline-block;
}

.nav-tabs {
	border: none;
	margin: 30px 0;
}

.tab-content {
	font-size: 24px;
}

.tab-content > .active {
	padding: 10px;
}

.width-1024 {
	max-width: 1024px;
}

.item-history-post {
	margin-bottom: 0;
}

.cr-1 a {
	line-height: 0;
}

.par-med {
	font-size: 24px;
}

#fallback {
	height: 80vh;
}

.flex-column {
	display: flex;
	flex-flow: column;
	align-items: center;
	justify-content: center;
}

.flex-row {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.icon-flex-grid {
	display: flex;
	justify-content: flex-start;
	flex-flow: row wrap;
	/* grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
  grid-template-rows: 220px 220px; */
}

.icon-flex-grid img {
	margin: 0 auto;
}

.category-case-warp {
	display: flex;
	justify-content: flex-start;
	margin: 0;
}

/* 
  </Tab modifications>
*/

.widget-footer-icon-link ul a:hover {
	color: #be2230;
}

.sticky-nav {
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	height: 64px;
}

.sticky-nav .sticky-nav_item {
	transform: translateY(-186px);
	transition: all 1s ease;
	opacity: 0;
}

.sticky-nav .topbar {
	display: none;
}

.hover-here {
	display: none;
}

.hover-here h4 {
	color: #ffffff;
}

.sticky-nav .hover-here {
	width: 100%;
	background-color: #00000050;
	text-align: center;
	position: fixed;
	top: 0;
	padding: 15px 0;
	display: block;
}

.sticky-nav:hover .sticky-nav_item {
	transform: translateY(0);
	opacity: 1;
}

.welcome {
	font-size: 24px;
}

.welcome p:nth-child(2) {
	font-size: 2em;
	color: #24376f;
}

@media screen and (max-width: 1024px) {
	.section-bg-wrapper {
		background-position: center;
		background-size: contain;
	}
}

@media screen and (max-width: 940px) {
	.section-separation {
		padding: 10px 0;
	}

	.section-bg-wrapper {
		min-height: 200px;
	}

	.cta-float-align {
		display: none;
	}
}

@media screen and (max-width: 640px) {
	.welcome {
		font-size: 16px;
	}
}
